asgiref==3.11.1
dj-database-url==3.1.2
Django==6.0.5
docopt==0.6.2
et_xmlfile==2.0.0
gunicorn==26.0.0
lxml==6.1.1
num2words==0.5.14
openpyxl==3.1.5
packaging==26.3
psycopg==3.3.4
psycopg-binary==3.3.4
python-docx==1.2.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2026.2
whitenoise==6.12.0
selenium>=4.25,<5
django-anymail==15.2
